In [7]:
import pandas as pd

data = {"Name": ["Julius", "Genrev", "Vincent"],
        "Loc": ["Calamba", "Calamba", "Lipa"],
        "Age": [21,22,23],
       }
data_pandas = pd.DataFrame(data)
display(data_pandas)

      Name      Loc  Age
0   Julius  Calamba   21
1   Genrev  Calamba   22
2  Vincent     Lipa   23